TheAmazingCode/TheAmazingCode.xcodeproj/project.xcworkspace/xcshareddata/TheAmazingCode.xccheckout
TheAmazingCode/TheAmazingCode.xcodeproj/xcuserdata/juanchisalas.xcuserdatad/xcschemes/TheAmazingCode.xcscheme
TheAmazingCode/TheAmazingCode.xcodeproj/xcuserdata/juanchisalas.xcuserdatad/xcschemes/xcschememanagement.plist
